.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
 padding: 1rem;
}

.card{
  margin-top: -50px;
  padding-right: 11rem;
  padding-left: 11rem;
}

.centered-container {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
}

p-floatLabel {
  width: 100%;
}

input[pInputText],
textarea[pInputTextarea] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
}

textarea[pInputTextarea] {
  height: auto;
  max-height: 75px;
}

.stepper-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.question-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.question-content {
    background-color: white;
    padding: 25px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-width-input {
    width: 100%;
}

.option-container {
    display: flex;
    align-items: center;
}

.option-buttons {
    display: flex;
    align-items: center;
}

.option-buttons .p-button {
    margin-right: 0.5rem;
}

.dropdown-container p-dropdown {
    width: 100%;
}

.dropdown-button-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown-container {
    flex: 1;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-bold {
    font-weight: bold;
}
.mb-3 {
    margin-bottom: 1rem;
}
.recap-question {
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid #e0e0e0;
}

.recap-question-type, .recap-options {
    font-size: 0.9rem;
    color: #666;
}

.from-preview{
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: none;
}

.add-button {
  border: 2px solid #28a745;
  background-color: transparent;
  color: #28a745;
  height: 38px;
  padding: 0 12px;
  border-radius: 4px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button:hover {
  background-color: #28a745;
  color: white;
}

.info-text {
  margin-bottom: 0.5rem;
}
