<p-toast></p-toast>
<p-confirmDialog/>
<div class="card justify-content-center">
  <p-stepper [(activeIndex)]="currentStep" [linear]="true">
    <p-stepperPanel header="Form Configuration">
      <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
        <div class="flex flex-column">
          <div class="border-2 border-dashed surface-border border-round surface-ground p-4 font-medium">
            <div class="centered-container flex align-items-center">
              <div class="full-width-input mr-2">
              <p-dropdown
                [options]="appOptions"
                [(ngModel)]="selectedApp"
                optionLabel="name"
                placeholder="Select Application"
                (onChange)="onAppChange($event)"
              ></p-dropdown>
                <small *ngIf="showErrors && !formContainer.appId" class="p-error">Application is required</small>
              </div>

              <div class="full-width-input">
                <p-dropdown
                  [options]="campaignOptions"
                  [(ngModel)]="selectedCampaign"
                  optionValue="id"
                  optionLabel="name"
                  [filter]="true"
                  filterBy="name"
                  [showClear]="true"
                  [disabled]="!appSelected"
                  (onChange)="onCampaignChange($event)"
                  placeholder="Select Campaign">
                </p-dropdown>
                <small *ngIf="showErrors && !formContainer.campaignId" class="p-error">Campaign is required</small>
              </div>
              <button pButton
                      [disabled]="!appSelected"
                      pTooltip="Add new campaign"
                      type="button"
                      icon="pi pi-plus"
                      class="add-button"
                      (click)="onAddCampaign()">
              </button>
            </div>

            <div class="centered-container">
              <p-floatLabel>
                <input pInputText id="title" [(ngModel)]="formContainer.title"/>
                <label for="title">Form Title</label>
              </p-floatLabel>
              <small *ngIf="showErrors && formContainer.title.trim() === ''" class="p-error">Title is required</small>
            </div>

            <div class="centered-container">
              <p-floatLabel>
                <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" id="desc"
                          [(ngModel)]="formContainer.description"></textarea>
                <label for="desc">Description</label>
              </p-floatLabel>
              <small *ngIf="showErrors && formContainer.description.trim() === ''" class="p-error">Description is
                required</small>
            </div>

            <div class="centered-container">
              <p-floatLabel>
                <input pInputText id="userMail" [(ngModel)]="formContainer.userEmail"/>
                <label for="userMail">User Email</label>
              </p-floatLabel>
              <small *ngIf="showErrors && !emailPattern.test(formContainer.userEmail || '')" class="p-error">Invalid
                email
                format</small>
            </div>

            <div class="centered-container flex align-items-center">
              <div class="full-width-input mr-2">
                <p-floatLabel>
                  <input pInputText id="reference" [(ngModel)]="formContainer.reference"/>
                  <label for="reference">Reference</label>
                </p-floatLabel>
              </div>

              <div>
                <p-toggleButton pTooltip="Disable escalate" tooltipPosition="top" [(ngModel)]="formContainer.escalate"
                                styleClass="w-9rem" onIcon="pi pi-users" offIcon="pi pi-user">
                </p-toggleButton>
              </div>
            </div>

            <div *ngIf="formContainer.escalate" class="centered-container">
              <p-floatLabel>
                <input pInputText id="managerMail" [(ngModel)]="formContainer.managerEmail"/>
                <label for="managerMail">Escalade Email</label>
              </p-floatLabel>
              <small
                *ngIf="showErrors && (!formContainer.managerEmail || !emailPattern.test(formContainer.managerEmail || ''))"
                class="p-error">Invalid escalade email</small>
            </div>

            <div class="centered-container ">
              <p-floatLabel>
                <p-chips id="ccEmails" [(ngModel)]="formContainer.ccEmails">
                  <ng-template let-item pTemplate="item">
                    {{ item }} <i class="pi pi-at ml-2"></i>
                  </ng-template>
                  <small *ngIf="showErrors"
                         class="p-error">Invalid CC emails</small>
                </p-chips>
                <label for="ccEmails">Carbon Copy Emails</label>
              </p-floatLabel>
              <small *ngIf="showErrors && !validateCcEmails()" class="p-error">Invalid CC emails</small>

            </div>

            <div class="centered-container flex align-items-center">
              <label for="reminder" class="full-width-input mr-2">Configure reminder delay day</label>
              <p-inputNumber [(ngModel)]="formContainer.reminderDelayDay" [step]="1" [showButtons]="true"
                             inputId="reminder"
                             [min]="2" [max]="10" class="small-input-number"></p-inputNumber>
            </div>
          </div>
          <div class="flex pt-4 justify-content-end">
            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextStep(nextCallback)"/>
          </div>
        </div>
      </ng-template>
    </p-stepperPanel>

    <!-- Add question step -->
    <p-stepperPanel header="Add question">
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback"
                   let-index="index">
        <div class="flex flex-column">
          <div class="border-2 border-dashed surface-border border-round surface-ground p-4 font-medium">
            <app-form-builder [form]="formContainer.forms[0]" [showErrors]="showErrors"></app-form-builder>
          </div>
          <!-- Boutons de navigation -->
          <div class="flex pt-4 justify-content-between">
            <p-button label="Back" icon="pi pi-arrow-left"
                      (onClick)="previousStep(prevCallback)"></p-button>
            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right"
                      (onClick)="nextStep(nextCallback)"></p-button>
          </div>
        </div>
      </ng-template>
    </p-stepperPanel>

    <p-stepperPanel header="Submit">
      <ng-template pTemplate="content" let-prevCallback="prevCallback">
        <div class="flex flex-column">
          <div class="border-2 border-dashed surface-border border-round surface-ground p-4 font-medium">
            <div class="mb-3">
              <label class="font-bold">Title:</label>
              <div>{{ formContainer.title }}</div>
            </div>

            <div class="mb-3">
              <label class="font-bold">Description:</label>
              <div class="m-0">
                <markdown [data]="formContainer.description"></markdown>
              </div>
            </div>

            <div class="mb-3">
              <label class="font-bold">User Email:</label>
              <div>{{ formContainer.userEmail }}</div>
            </div>

            <div class="mb-3">
              <label class="font-bold">Reference:</label>
              <div>{{ formContainer.reference || 'Not specified' }}</div>
            </div>

            <div class="mb-3">
              <label class="font-bold">Escalade:</label>
              <div>{{ formContainer.escalate ? 'yes' : 'No' }}</div>
            </div>

            <div *ngIf="formContainer.escalate" class="mb-3">
              <label class="font-bold">Escalade Email:</label>
              <div>{{ formContainer.managerEmail }}</div>
            </div>

            <div class="mb-3">
              <label class="font-bold">Reminder days delay:</label>
              <div>{{ formContainer.reminderDelayDay }}</div>
            </div>

            <h5>Form preview :</h5>
            <div class="from-preview">
              <app-form-preview [formQuestions]="formContainer.forms[0]"></app-form-preview>
            </div>
          </div>
        </div>

        <div class="flex pt-4 justify-content-between">
          <p-button label="Back" icon="pi pi-arrow-left" (onClick)="previousStep(prevCallback)"></p-button>
          <p-button label="Submit" icon="pi pi-arrow-right" iconPos="right" (click)="confirmSubmit($event)"></p-button>
        </div>
      </ng-template>
    </p-stepperPanel>
  </p-stepper>
</div>


<div class="card flex justify-content-center">
    <p-dialog header="Add new campaign" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-5">Please enter the name of the campaign to create</span>
        <div class="flex align-items-center gap-3 mb-3">
            <label for="CampaignName" class="font-semibold w-6rem">Name</label>
            <input pInputText id="CampaignName" class="flex-auto" autocomplete="off" [(ngModel)]="campaignName"/>
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
            <p-button label="Save" (onClick)="createCampaign()" />
        </div>
    </p-dialog>
</div>
