<div class="card">
  <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="content" let-event>
      <p-card [header]="event.event" [subheader]="event.timestamp">
        <p>
          {{ event.details }}
        </p>
        <button
          *ngIf="event.event === 'Response submitted'"
          pButton
          label="Preview"
          icon="pi pi-window-maximize"
          class="p-button-text"
          (click)="showFormPreview(event.form_id)"
        ></button>
      </p-card>
    </ng-template>
  </p-timeline>


</div>
<p-dialog
  header="Form Preview"
  [(visible)]="formDialogVisible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  (onHide)="closeFormDialog()"
>
  <ng-container *ngIf="selectedForm">
    <app-form-response-preview [questions]="selectedForm.questions"></app-form-response-preview>
  </ng-container>
  <ng-container *ngIf="!selectedForm">
    <p>No form data available.</p>
  </ng-container>
</p-dialog>
