<div class="card flex justify-content-center">
    <p-stepper [linear]="true">
        <p-stepperPanel header="Configuration du Form Container">
            <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                <div class="flex flex-column h-12rem">
                    <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                      <div class="p-field p-grid">
                        <label for="title" class="p-col-fixed" style="width: 150px;">Titre du formulaire</label>
                        <div class="p-col">
                          <input id="title" pInputText [(ngModel)]="form.title" required />
                          <small *ngIf="form.title.trim() === ''" class="p-error">Ce champ est obligatoire</small>
                        </div>
                      </div>

                      <div class="p-field p-grid">
                        <label for="description" class="p-col-fixed" style="width: 150px;">Description</label>
                        <div class="p-col">
                          <textarea id="description" pInputTextarea [(ngModel)]="form.description" autoResize required></textarea>
                          <small *ngIf="form.description.trim() === ''" class="p-error">Ce champ est obligatoire</small>
                        </div>
                      </div>

                      <div class="p-field p-grid">
                        <label for="userEmail" class="p-col-fixed" style="width: 150px;">Email de l'utilisateur</label>
                        <div class="p-col">
                          <input id="userEmail" pInputText [(ngModel)]="form.userEmail" type="email" required />
                          <small *ngIf="!emailPattern.test(form.userEmail)" class="p-error">Email invalide</small>
                        </div>
                      </div>

                      <div class="p-field-checkbox">
                        <p-toggleButton [(ngModel)]="form.escalation" onLabel="Escalade" offLabel="Pas d'escalade"></p-toggleButton>
                      </div>

                      <div class="p-field p-grid" *ngIf="form.escalation">
                        <label for="managerEmail" class="p-col-fixed" style="width: 150px;">Email du manager</label>
                        <div class="p-col">
                          <input id="managerEmail" pInputText [(ngModel)]="form.managerEmail" type="email" required />
                          <small *ngIf="!form.managerEmail || !emailPattern.test(form.managerEmail)" class="p-error">Email invalide</small>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="flex pt-4 justify-content-end">
                    <p-button
                        label="Next"
                        icon="pi pi-arrow-right"
                        iconPos="right"
                        (onClick)="nextCallback.emit()" />
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Header II">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                <div class="flex flex-column h-12rem">
                    <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                        Content II
                    </div>
                </div>
                <div class="flex pt-4 justify-content-between">
                    <p-button
                        label="Back"
                        icon="pi pi-arrow-left"
                        (onClick)="prevCallback.emit()" />
                    <p-button
                        label="Next"
                        icon="pi pi-arrow-right"
                        iconPos="right"
                        (onClick)="nextCallback.emit()" />
                </div>
            </ng-template>
        </p-stepperPanel>
        <p-stepperPanel header="Header III">
            <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                <div class="flex flex-column h-12rem">
                    <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                        Content III
                    </div>
                </div>
                <div class="flex pt-4 justify-content-start">
                    <p-button
                        label="Back"
                        icon="pi pi-arrow-left"
                        (onClick)="prevCallback.emit()" />
                </div>
            </ng-template>
        </p-stepperPanel>
    </p-stepper>
</div>
