/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-green/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";


.small-input-number .p-inputtext {
    font-size: 14px;
    padding: 2px 6px;
    height: 40px;
    width: 123px;
    text-align: center;
}

.small-input-number .p-inputnumber-button {
    width: 20px;
    height: 20px;
    font-size: 10px;
}

