.admin-panel {
  display: flex;
  height: 100vh;

  .sidebar {
    width: 250px;
    background-color: #f9fafb;
    padding: 20px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;

    button {
      margin-bottom: 10px;
      padding: 10px;
      border: none;
      background: none;
      text-align: left;
      cursor: pointer;
      width: 100%;

      &.active {
        font-weight: bold;
        color: white;
        background-color: #00796b;
        border-radius: 8px;
      }
    }
  }

  .content {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
  }
}
.swagger-container {
  height: 100%;
  width: 100%;
  min-height: 600px; /* Ajustez selon vos besoins */
  overflow: hidden;
}
