<app-navbar (appOptionsLoaded)="onAppOptionsLoaded($event)"></app-navbar>

<p-toast/>
<p-confirmDialog/>

<div class="admin-panel">
  <div class="sidebar">
    <button (click)="selectedTab = 'api-tokens'" [class.active]="selectedTab === 'api-tokens'">API Tokens</button>
    <button (click)="selectedTab = 'campaigns'" [class.active]="selectedTab === 'campaigns'">Campaigns</button>
    <button *ngIf="isAuthorized()" (click)="selectedTab = 'applications'" [class.active]="selectedTab === 'applications'">Applications</button>
  </div>

  <div class="content">
    <!-- API Tokens Section -->
    <div *ngIf="selectedTab === 'api-tokens'">
      <app-admin-tokens  [appOptions]="appOptions"></app-admin-tokens>
    </div>

    <!-- Applications Section -->
    <div *ngIf="selectedTab === 'applications'">
      <app-admin-applications [appOptions]="appOptions"></app-admin-applications>
    </div>

    <!-- Campaigns Section -->
    <div *ngIf="selectedTab === 'campaigns'">

      <app-admin-campaign [appOptions]="appOptions"></app-admin-campaign>
    </div>
  </div>
</div>
