<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="card">
  <p-tabView>
    <p-tabPanel header="Overview">
      <div class="card">
        <p-card header="{{ formContainer.title }}" class="card-background">
          <p class="m-0">{{ formContainer.description }}</p>
        </p-card>
        <div *ngIf="formContainer.forms?.[0]?.status === 'open'">
          <app-form-preview [formQuestions]="formContainer.forms[0]"></app-form-preview>
        </div>
        <div *ngIf="formContainer.forms?.[0]?.status !== 'open'">
          <app-form-response-preview [questions]="formContainer.forms[0].questions"></app-form-response-preview>
        </div>

        <div class="centered-container-button flex justify-content-end"
             *ngIf="formContainer.forms?.[0]?.status === 'answered'">
          <div class="button-group">
            <p-button label="Ask again" class="custom-button" [outlined]="true" (onClick)="verifAddNewForm()"></p-button>
            <p-button label="Validate" class="custom-button" [outlined]="true"
                      (onClick)="validateFormContainer($event)"></p-button>
          </div>
        </div>
        <div class="centered-container-button flex justify-content-end"
             *ngIf="formContainer.forms?.[0]?.status === 'open'">
          <div class="button-group">
            <p-button label="Pause" class="custom-button"></p-button>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Timeline">
      <ng-template pTemplate="content">
        <app-timeline [formContainerId]="formContainer.id"></app-timeline>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
  <p-dialog header="Add new form" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" (onHide)="resetForm()">
    <app-form-builder [form]="newForm" [showErrors]="showErrors"></app-form-builder>
    <div class="flex pt-4 justify-content-between">
      <p-button label="Cancel" severity="secondary" (onClick)="resetForm()"/>
      <p-button label="Save" (onClick)="addForm($event)"/>
    </div>
  </p-dialog>
</div>
