.centered-container-button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button-group {
  display: flex;
  gap: 1rem;
}

.custom-button {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  font-weight: bold;
}

.dashboard-container {
  flex-direction: row;
}

.main-content {
  flex: 1;
  padding: 1rem;
}

.layout {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 260px;
  flex-shrink: 0;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}


.sidebar h4 {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #4b5563;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 0.5rem;
}

.sidebar ul li button {
  border-radius: 10px;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.sidebar ul li.active button {
  background-color: var(--highlight-text-color);
  font-weight: bold;
}

.button-group .custom-button {
  margin-right: 0.5rem;
}

.desc-card {
  margin-top: 2rem;
}

.date-badge {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.3rem 0.4rem;
  background-color: #e8f5e9;
  color: #388e3c;
  border-radius: 8px;
  font-size: 0.9rem;
}

.date-badge .pi {
  font-size: 1rem;
}

.info-div {
  font-size: 14px;
  margin-bottom: 2rem;
}

.info-text {
  margin-bottom: 0.5rem;
  color: #333;
}

.markdown-table table {
  min-width: 1200px;
  border-collapse: collapse;
}

.markdown-table th, .markdown-table td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: left;
  white-space: nowrap;
}

.markdown-table th {
  background-color: #f3f4f6;
  font-weight: bold;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  min-width: calc(100vw - 260px);
  overflow-x: hidden;
}

.responsive-table-container {
  max-height: 500px;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
  box-sizing: border-box;
  background-color: #fff;
}
