<div class="card">
  <p-tabView>
    <p-tabPanel header="Overview">
      <div class="card">
        <p-card header="{{ formContainer.title }}" class="card-background">
          <p class="m-0">{{ formContainer.description }}</p>
        </p-card>
        <div *ngIf="formContainer.forms?.[0]?.status === 'open'">
          <app-form-preview [formQuestions]="formContainer.forms[0]"></app-form-preview>
        </div>
        <div *ngIf="formContainer.forms?.[0]?.status !== 'open'">
          <app-form-response-preview [questions]="formContainer.forms[0].questions"></app-form-response-preview>
        </div>
        <div class="centered-container" *ngIf="formContainer.forms?.[0]?.status === 'answered'">
          <div class="flex justify-content-end">
            <p-toast/>
            <p-confirmDialog/>
            <p-button label="Ask again" [outlined]="true"/>
            <p-button label="validate" [outlined]="true" (onClick)="validateFormContainer($event)"/>
          </div>
        </div>
        <div class="centered-container" *ngIf="formContainer.forms?.[0]?.status === 'open'">
          <div class="flex justify-content-end">
            <p-button label="Pause"/>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Timeline">
      <ng-template pTemplate="content">
        <app-timeline [formContainerId]="formContainer.id"></app-timeline>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
