.tokens-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.empty-state {
  text-align: center;
  margin-top: 2rem;
}

.p-dialog .p-fluid .field {
  margin-bottom: 1rem;
}

.app-selector {
  margin-right: 15px;
}

.action-icons {
  display: flex;
  gap: 15px;
}

.action-icons i {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.action-icons i:hover {
  transform: scale(1.2);
}


.field {
  margin-bottom: 1rem;
}

.p-dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
