<p-toast position="bottom-right" key="br"/>

<div class="tokens-header">
    <h2>API Tokens</h2>
    <button pButton label="New Token" icon="pi pi-plus" class="p-button-rounded p-button-primary"
            (click)="showCreateTokenDialog()"></button>
</div>

<p-table [value]="tokens" *ngIf="tokens && tokens.length > 0">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Applications</th>
            <th>Expires at</th>
            <th>Created at</th>
            <th>Created by</th>
            <th style="width: 7rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-token>
        <tr>
            <td>{{ token.token_name }}</td>
            <td>
                <ng-container *ngFor="let appName of token.app_names">
                    <p-tag [value]="appName" styleClass="mr-1"></p-tag>
                </ng-container>
            </td>
            <td>{{ token.expiration | date }}</td>
            <td>{{ token.created_at | date }}</td>
            <td>{{ token.created_by }}</td>
            <td>
                <div class="action-icons">
                    <i class="pi pi-clone" (click)="copyToClipboard(token.token)" title="Copy"></i>
                    <i class="pi pi-pencil" (click)="confirmRotateToken(token.token_name)" title="Rotate"></i>
                    <i class="pi pi-ban" (click)="confirmRevokeToken(token.token)"
                       title="Revoke"></i>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<div *ngIf="!tokens || tokens.length === 0" class="empty-state">
    <p>You have no personal API tokens yet.</p>
</div>

<p-dialog [(visible)]="displayCreateTokenDialog" header="Create New Token" [modal]="true" [style]="{ width: '400px' }">
    <div class="p-fluid">
        <div class="field">
            <label for="token_name">Token Name</label>
            <input pInputText id="token_name" [(ngModel)]="newToken.token_name" placeholder="Enter token name"/>
        </div>
        <div class="app-selector">
            <p-multiSelect
                    [options]="appOptions"
                    [(ngModel)]="newToken.app_names"
                    optionLabel="name"
                    optionValue="name"
                    display="chip"
                    placeholder="Select Applications"
                    [filter]="false" [style]="{ 'width': '104%', 'margin-bottom': '10px' }">
            </p-multiSelect>
        </div>
        <div class="field">
            <label for="expiration">Expiration (Days)</label>
            <input
                    pInputText
                    id="expiration"
                    type="number"
                    [(ngModel)]="newToken.expiration"
                    placeholder="Enter expiration in days"
            />
        </div>
    </div>
    <div class="p-dialog-footer">
        <button pButton label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideCreateTokenDialog()"></button>
        <button pButton label="Create" icon="pi pi-check" class="p-button-primary" (click)="createToken()"></button>
    </div>
</p-dialog>


<p-dialog [(visible)]="displayTokenDialog" header="New Token Generated" [closable]="true" [dismissableMask]="true" [modal]="true" [style]="{ width: '500px' }">
  <div class="token-modal-content" style="text-align: center; position: relative;">
    <i class="pi pi-copy token-copy"
       (click)="copyToClipboard(newTokenJwt!)"></i>
    <p>Your new token is:</p>
    <div class="token-span">
      <span>{{ newTokenJwt }}</span>
    </div>
  </div>
</p-dialog>
