.dashboard {
  display: flex;
  font-family: Arial, sans-serif;
}

.sidebar button {
  width: 100%;
}

.sidebar .card {
  width: 100%;
}
.full {
  width: 100%;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f9f9f9;
  font-weight: bold;
}

td  {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.content .create-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content .create-form-container p-button {
  margin-bottom: 20px;
}

p-button {
  display: inline-flex;
  align-items: center;
}

.p-button-icon-left {
  margin-right: 8px;
}

.ref {
  padding-top: 10px
  }

.title-link {
  font-size: 1.1em;
  color: #374151;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  border-radius: 4px;
  transition: color 0.3s, border-color 0.3s;
}

.title-link:hover {
  color: var(--highlight-text-color);
  cursor: pointer;
}

.layout {
  display: flex;
}

.menu-container {
  position: fixed;
  background-color: #ffffff;
  padding: 15px;
}

.content-container {
    margin-left: 260px;
    padding: 20px;
    flex: 1;
    max-width: calc(100vw - 260px);
    overflow-x: auto;
    box-sizing: border-box;
}
