<app-navbar
  (appOptionsLoaded)="onAppOptionsLoaded($event)"
  (selectedAppIdsChange)="onSelectedAppIdsChange($event)">
</app-navbar>

<div class="layout">
  <div class="menu-container" style="min-width:15rem">
    <button class="create-button" (click)="navigateToCreateForm()">Create New Form</button>
    <ul class="menu-buttons">
      <li
        *ngFor="let item of menuItems; let i = index"
        (click)="selectMenuItem(i)"
        [class.active]="i === selectedMenuItem"
        class="menu-item"
      >
        <button class="menu-button">
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="content-container content" [ngSwitch]="currentView">
    <div *ngSwitchCase="'table'">
      <app-form-table
        [forms]="forms"
        (formSelected)="onFormSelected($event)">
      </app-form-table>
    </div>

    <div *ngSwitchCase="'questions'">
      <p-button icon="pi pi-chevron-left" (click)="switchTo('table')"></p-button>
      <app-form-container-preview *ngIf="accessToken" [accessToken]="accessToken"></app-form-container-preview>
    </div>

    <div *ngSwitchCase="'createForm'">
      <p-button icon="pi pi-chevron-left" (click)="switchTo('table')"></p-button>
      <app-create-form-container [appOptions]="appOptions"></app-create-form-container>
    </div>

    <div *ngSwitchCase="'loading'">
      <div class="card flex justify-content-center">
        <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
      </div>
    </div>

    <div *ngSwitchDefault>
      <p>Invalid view selected</p>
    </div>
  </div>
</div>
