<div class="dashboard">
  <div class="sidebar">
    <button (click)="toggleCreateForm()" class="button-17">Create New Form</button>
    <div class="card flex justify-content-center">
      <p-menu [model]="menuItems" class="custom-menu"></p-menu>
    </div>
  </div>

  <div class="content">
    <div *ngIf="!showCreateFormFlag">
      <!-- Static List -->
      <div class="card">
        <p-table
          #dt1
          [value]="customers"
          selectionMode="single"
          [(selection)]="selectedCustomer"
          dataKey="id"
          [rows]="10"
          [rowsPerPageOptions]="[10, 25, 50]"
          [loading]="loading"
          [paginator]="true"
          (onRowSelect)="onRowSelect($event)"
          [globalFilterFields]="['name', 'status']"
        >
          <ng-template pTemplate="caption">
            <div class="flex">
              <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear(dt1)"/>
              <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"  placeholder="Search keyword" />
                </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width:80%;min-width:15rem">
                <div class="flex align-items-center">
                  Title
                  <p-columnFilter type="text" field="name" display="menu"/>
                </div>
              </th>
              <th pSortableColumn='date' style="min-width:10rem">
                <div class="flex align-items-center">
                  Date
                  <p-columnFilter type="date" field="date" display="menu"/>

                <p-sortIcon field="date"/>

                </div>
              </th>
              <th style="min-width:10rem">
                <div class="flex align-items-center">
                  Status
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer>
            <tr  [pSelectableRow]="customer" class="test">
              <td>
                {{ customer.name }}
              </td>
              <td>
                {{ customer.date | date: 'dd/MM/yyyy' }}
              </td>
              <td>
                <p-tag [value]="customer.status" [severity]="getSeverity(customer.status)"/>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No customers found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div *ngIf="showCreateFormFlag">
      <p-button icon="pi pi-chevron-left" (click)="toggleCreateForm()"/>
      <app-create-form-container></app-create-form-container>
    </div>
  </div>
</div>
