<div *ngFor="let question of form.questions; let i = index" class="question-wrapper flex align-items-start mb-4">
  <div class="question-content flex-grow-1">
    <div class="full-width-input mb-2">
      <p-floatLabel>
        <input pInputText [(ngModel)]="question.label" required/>
        <label>Untitled question</label>
      </p-floatLabel>
      <small *ngIf="showErrors && question.label.trim() === ''" class="p-error">Question text is required</small>
    </div>

    <div class="dropdown-button-row mb-2">
      <div class="dropdown-container">
        <p-dropdown [(ngModel)]="question.type" placeholder="Select question type" [options]="questionTypes"
                    (onChange)="onQuestionTypeChange(question)"></p-dropdown>
      </div>

      <div *ngIf="question.type !== 'text'" class="button-container">
        <button pButton type="button" icon="pi pi-plus" class="p-button-rounded p-button-primary"
                (click)="addOption(i)"></button>
      </div>
    </div>

    <div *ngFor="let option of question.options; let j = index; trackBy: trackByIndex"
         class="option-container flex align-items-center mb-2">
      <div class="option-field flex-grow-1">
        <p-floatLabel>
          <input pInputText [(ngModel)]="question.options[j]" required/>
        </p-floatLabel>
      </div>
      <div class="option-buttons ml-2">
        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" (click)="removeOption(i, j)" title="Delete option"
                  class="p-button-rounded mb-2"></p-button>
      </div>
    </div>
  </div>

  <div class="sidebar ml-3">
    <p-button icon="pi pi-plus" [rounded]="true" [text]="true" [raised]="true" (click)="addQuestion()"
              title="Add question" class="p-button-rounded mb-2"></p-button>
    <p-button icon="pi pi-trash" [rounded]="true" [text]="true" [raised]="true" (click)="removeQuestion(i)"
              title="Delete question" class="p-button-rounded mb-2"></p-button>
    <p-button icon="pi pi-copy" [rounded]="true" [text]="true" [raised]="true" (click)="duplicateQuestion(i)"
              title="Duplicate question" class="p-button-rounded mb-2"></p-button>
  </div>
</div>


