<div class="card">
  <p-table
    #dt
    [value]="forms"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [globalFilterFields]="['title', 'description', 'reference', 'user_email']"
    [(selection)]="selectedForms"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear(dt)"/>
        <p-splitButton class="total-count" label="Export" icon="pi pi-file-excel" (onClick)="exportSelectedToCsv()" [model]="items" />
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="Search keyword" (input)="filterGlobal(dt, $event)"/>
        </span>
        <span class="total-count" title="Visible forms / Total forms in the system">
          Total: {{ forms.length }}/{{ totalCount}}
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox/>
        </th>
        <th style="width:50%;min-width:15rem">
          <div class="flex align-items-center">
            Title
            <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="flex align-items-center">
            User
            <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="flex align-items-center">
            Campaign
            <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="created_at">
          <div class="flex align-items-center">
            Created at
            <p-columnFilter type="date" field="created_at" display="menu">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-calendar
                  [(ngModel)]="filterDates"
                  selectionMode="range"
                  [minDate]="minDate"
                  [maxDate]="maxDate"
                  placeholder="Select date range"
                ></p-calendar>
              </ng-template>
            </p-columnFilter>
            <p-sortIcon field="created_at"></p-sortIcon>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-form>
      <tr [pSelectableRow]="form">
        <td>
          <p-tableCheckbox [value]="form"/>
        </td>

        <td>
          <a
            (click)="selectForm(form.access_token, form.app_name)"
            class="title-link"
          >
            {{ form.title }}
          </a>
          <div class="card flex gap-2" style="margin-top: 0.7rem;">
            <p-tag [value]="'APP: ' + form.app_name"></p-tag>
            <p-tag *ngIf="form.reference" [value]="form.reference" severity="info"></p-tag>
          </div>
        </td>
        <td>
          {{ form.user_email }}
        </td>
        <td>
          {{ form.campaign_name }}
        </td>
        <td>
          {{ form.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No Forms found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
