<div class="user-view">
  <h2>{{ formData.title }}</h2>
  <p>{{ formData.description }}</p>

  <div *ngFor="let question of formData.questions">
    <h3>{{ question.text }}</h3>
    <ng-container [ngSwitch]="question.type">
      <div *ngSwitchCase="'text'">
        <input type="text" placeholder="Enter your response" [(ngModel)]="question.response" />
      </div>
      <div *ngSwitchCase="'multipleChoice'">
        <div *ngFor="let option of question.primeNgOptions">
          <p-radioButton name="{{ question.text }}" [(ngModel)]="question.response" [value]="option.value">{{ option.label }}</p-radioButton>
        </div>
      </div>
      <div *ngSwitchCase="'checkbox'">
        <div *ngFor="let option of question.primeNgOptions">
          <p-checkbox [(ngModel)]="question.selectedOptions" [binary]="true" [label]="option.label"></p-checkbox>
        </div>
      </div>
      <div *ngSwitchCase="'dropdown'">
        <p-dropdown [(ngModel)]="question.response" [options]="question.primeNgOptions"></p-dropdown>
      </div>
    </ng-container>
  </div>

  <button pButton type="button" label="Submit" (click)="onSubmit()"></button>
</div>
