<div class="user-view">
  <h2>{{ formData.title }}</h2>
  <p>{{ formData.description }}</p>

  <div *ngFor="let question of formData.questions; let i = index">
    <h3>{{ question.text }}</h3>
    <ng-container [ngSwitch]="question.type">
      <!-- Text Input -->
      <div *ngSwitchCase="'text'">
        <input type="text" placeholder="Enter your response" [(ngModel)]="question.response" name="response{{i}}" />
        <small *ngIf="validationErrors.includes('Please respond to question ' + (i + 1) + ': ' + question.text)" class="p-error">
          This field is required.
        </small>
      </div>

      <!-- Radio Buttons for Multiple Choice Questions -->
      <div *ngSwitchCase="'multipleChoice'">
        <div *ngFor="let option of question.formattedOptions">
          <p-radioButton name="group{{i}}" [(ngModel)]="question.response" [value]="option.value" class="mr-2"></p-radioButton>
          <label>{{ option.label }}</label>
        </div>
        <small *ngIf="validationErrors.includes('Please respond to question ' + (i + 1) + ': ' + question.text)" class="p-error">
          Please select an option.
        </small>
      </div>

      <!-- Checkboxes for Multiple Selections -->
      <div *ngSwitchCase="'checkbox'">
        <div *ngFor="let option of question.formattedOptions">
          <p-checkbox [binary]="true" [label]="option.label"
                      [ngModel]="isChecked(question.selectedOptions || [], option.value)"
                      (ngModelChange)="toggleOption(question.selectedOptions || [], option.value)">
          </p-checkbox>
        </div>
        <small *ngIf="validationErrors.includes('Please select at least one option for question ' + (i + 1) + ': ' + question.text)" class="p-error">
          Please select at least one option.
        </small>
      </div>

      <!-- Dropdown for Select List Questions -->
      <div *ngSwitchCase="'dropdown'">
        <p-dropdown [(ngModel)]="question.response"
                    [options]="question.formattedOptions"
                    placeholder="Select an option" class="w-full"></p-dropdown>
        <small *ngIf="validationErrors.includes('Please respond to question ' + (i + 1) + ': ' + question.text)" class="p-error">
          Please select an option.
        </small>
      </div>
    </ng-container>
  </div>

  <button pButton label="Submit" icon="pi pi-check" class="p-button-raised mt-4" (click)="onSubmit()"></button>
</div>
