<p-toast></p-toast>
<div class="card-wrapper">
  <p-card class="access-card">
    <h2>Enter Applications ID</h2>
    <div class="m-0">
      <div [ngClass]="{'error-chips': invalidTokens.size > 0}">
        <p-chips [(ngModel)]="tokens" placeholder="Enter tokens" (onAdd)="onTokenAdd($event)"
                 (onRemove)="onTokenRemove($event)"></p-chips>
      </div>
      <div class="flex pt-4 justify-content-end">
        <p-button label="Enter" icon="pi pi-arrow-right" iconPos="right" (onClick)="submitTokens()"/>
      </div>
    </div>
  </p-card>
</div>
