<div class="filter-container">
  <div class="filter-row">
    <div class="filter-group">
      <label>Title</label>
      <input type="text" [(ngModel)]="filters.title" placeholder="Title">
    </div>

    <div class="filter-group">
      <label>User email</label>
      <input type="text" [(ngModel)]="filters.user_email" placeholder="User email">
    </div>
  </div>

  <div class="filter-row">
    <div class="filter-group">
      <label>Campaign</label>
      <p-multiSelect
        [options]="campaignOptions"
        [(ngModel)]="filters.campaign_ids"
        optionLabel="name"
        optionValue="id"
        display="chip"
        placeholder="Campaign name"
        [filter]="true">
      </p-multiSelect>

    </div>

    <div class="date-group">
      <label>Creation date</label>
      <p-calendar [(ngModel)]="filters.dateRange" [showIcon]="true" selectionMode="range" [minDate]="minDate"
                  [maxDate]="maxDate" placeholder="Select date range"></p-calendar>
    </div>
  </div>

  <div class="filter-actions">
    <p-button label="Clear" icon="pi pi-filter-slash" (onClick)="clearFilters()"/>
    <p-button label="Apply" icon="pi pi-search" (onClick)="applyFilters()"/>
  </div>
</div>
