<div class="admin-dashboard">
  <div class="header">
    <button (click)="navigateToCreateForm()">Nouveau formulaire</button>
  </div>

  <div class="dashboard-content">
    <!-- Liste des demandes -->
    <app-form-list
      [formContainers]="formContainers"
      [selectedForm]="selectedForm"
      (formSelected)="selectForm($event)">
    </app-form-list>

    <!-- Détails du formulaire -->
    <app-form-details
      [selectedForm]="selectedForm"
      (formUpdate)="refreshFormList()">
    </app-form-details>

    <!-- Historique des interactions -->
    <app-form-history
      *ngIf="selectedForm?.history?.length"
      [formHistory]="selectedForm.history">
    </app-form-history>
  </div>
</div>
