<p-toast position="bottom-right" key="br"/>

<div class="tokens-header">
    <h2>Application Manager</h2>
    <button pButton label="New application" icon="pi pi-plus" class="p-button-rounded p-button-primary"
            (click)="showCreateTokenDialog()"></button>
</div>

<p-table [value]="applications" *ngIf="applications && applications.length > 0">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Created at</th>
            <th>Created by</th>
            <th style="width: 7rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-application>
        <tr>
            <td>{{ application.name }}</td>
            <td>{{ application.created_at | date }}</td>
            <td>{{ application.created_by }}</td>
            <td>
                <div class="action-icons">
                    <i class="pi pi-clone" (click)="copyToClipboard(application.id)" title="Copy"></i>
                    <i class="pi pi-pencil" (click)="confirmEditToken(application.id)" title="edit"></i>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<div *ngIf="!applications || applications.length === 0" class="empty-state">
    <p>You have no application created yet.</p>
</div>

<p-dialog [(visible)]="displayCreateAppDialog" header="Create New Token" [modal]="true" [style]="{ width: '400px' }">
    <div class="p-fluid">
        <div class="field">
            <label for="application_name">Application Name</label>
            <input pInputText id="application_name" [(ngModel)]="newToken.token_name" placeholder="Enter token name"/>
        </div>
    </div>
    <div class="p-dialog-footer">
        <button pButton label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideCreateTokenDialog()"></button>
        <button pButton label="Create" icon="pi pi-check" class="p-button-primary" (click)="createToken()"></button>
    </div>
</p-dialog>

<p-dialog header="New Token Generated" [(visible)]="displayTokenDialog" [modal]="true" [closable]="false">
    <div>
        <p>Your new token is:</p>
        <p style="font-weight: bold; word-break: break-word;">{{ newTokenJwt }}</p>
        <button pButton label="Copy" icon="pi pi-copy" (click)="copyToClipboard(newTokenJwt!)"></button>
        <button pButton label="Close" icon="pi pi-times" (click)="displayTokenDialog = false"></button>
    </div>
</p-dialog>
