<div class="form-details-container">
  <h2>{{ selectedForm?.title }}</h2>
  <p class="form-description">{{ selectedForm?.description }}</p>

  <form *ngIf="selectedForm" class="form-content">
    <div *ngFor="let question of selectedForm.questions">
      <label>{{ question.label }}</label>
      <input type="text" [value]="question.response" readonly />
    </div>

    <div class="actions">
      <button (click)="createNewForm()" class="new-button">New</button>
      <button (click)="validateForm()" class="validate-button">Valider</button>
    </div>
  </form>
</div>
