<div class="tokens-header">
  <h2>Workflow Manager</h2>
  <button pButton label="New workflow" icon="pi pi-plus" class="p-button-rounded p-button-primary"></button>
</div>

<div class="workflow-container">
  <p-panel *ngFor="let step of steps"
           [header]="step.label"
           class="step-panel"
           [collapsed]="step.collapsed"
           toggleable="true">
    <ng-template pTemplate="icons">
      <button class="p-panel-header-icon p-link mr-2" (click)="openContextMenu($event, step, menu)">
        <span class="pi pi-cog"></span>
      </button>
      <p-menu #menu id="config_menu" [model]="items" [popup]="true"/>
    </ng-template>

    <div class="step-details">
      <p>Type: {{ step.type }}</p>
      <p>Delay: {{ step.delay }} days</p>
    </div>
  </p-panel>

  <div class="workflow-actions">
    <p-button label="Add Step" icon="pi pi-plus" (click)="addStep()"></p-button>
    <p-button label="Save" icon="pi pi-save" class="p-button-success" (click)="saveWorkflow()"></p-button>
  </div>
</div>

<p-dialog [(visible)]="displayDialog" *ngIf="selectedStep">
  <h3>{{ selectedStep.id.includes('step') ? 'Add Step' : 'Edit Step' }}</h3>
  <div *ngif="!(selectedStep.type === 'start')" >
    <label>Type:</label>
    <p-dropdown [options]="availableTypes" [(ngModel)]="selectedStep.type"
                (onChange)="selectedStep.label = generateStepLabel(selectedStep.type)"></p-dropdown>
  </div>
  <div>
    <label>Delay (days):</label>
    <input type="number" pInputText [(ngModel)]="selectedStep.delay">
  </div>
  <p-button label="Confirm" (click)="selectedStep.id.includes('step') ? confirmAddStep() : updateStep()"></p-button>
</p-dialog>
