.main-content {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;

  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.2em;
    margin-top: 20px;
  }

  input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

input[pInputText],
textarea[pInputTextarea] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: none;
}

.full-width-input {
    width: 100%;
}

.card-background {
  width: 100%;
  background: green;
 }

 .opts {
       padding: 8px;
   }
.centered-container {
    max-width: 600px;
    border-radius: 8px;
    padding-top: 20px;
    margin-left: 60px;
}

.container {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  position: sticky;
  top: 0;
  margin-left: 60px;
}
.sidebar h4 {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #4b5563;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 0.5rem;
}

.sidebar ul li button {
  border-radius: 10px;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.sidebar ul li.active button {
  background-color: var(--highlight-text-color);
  font-weight: bold;
}

.button-group .custom-button {
  margin-right: 0.5rem;
}

.card-background {
  background-color: #e6f7ff;
}
.centered-container-p-button {

    border-radius: 8px;
    padding-top: 20px

  }
