<div class="container">
  <div class="sidebar" *ngIf="sidebarVisible && historyForms.length > 0">
    <h4>Previous Forms</h4>
    <ul>
      <li *ngFor="let form of formData.forms; let i = index" (click)="selectForm(form)"
          [class.active]="form === currentForm">
        <button (click)="selectForm(form)">
          <i class="pi pi-star"></i> {{ form.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}
        </button>
      </li>
    </ul>
  </div>
    <div class="sidebar-toggle-button" (click)="toggleSidebar()" *ngIf="historyForms.length > 0">
    <i class="pi pi-bars"></i>
  </div>
  <div class="main-content centered-container">
    <div class="card">
      <p-card header="{{ formData.title }}" class="card-background">
        <p class="m-0">
          <markdown [data]="markdownDescription"></markdown>
        </p>
      </p-card>
    </div>
    <ng-container *ngIf="!isSubmitted && currentForm?.status === 'open'">
      <div *ngFor="let question of currentForm?.questions || []; let i = index">
        <h5>{{ question.label }}</h5>
        <ng-container [ngSwitch]="question.type">
          <!-- Text Input -->
          <div *ngSwitchCase="'text'">
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            [autoResize]="true"
            placeholder="Enter your response"
            [(ngModel)]="question.response"
            name="response{{i}}"
            class="p-inputtextarea"
          ></textarea>
            <small
              *ngIf="validationErrors.includes('Please respond to question ' + (i + 1) + ': ' + question.label)"
              class="p-error"
            >
              This field is required.
            </small>
          </div>

          <div *ngSwitchCase="'radioButton'">
            <div *ngFor="let option of question.formattedOptions" class="opts">
              <p-radioButton
                name="group{{i}}"
                [(ngModel)]="question.response"
                [value]="option.value"
                class="mr-2"
              ></p-radioButton>
              <label>{{ option.label }}</label>
            </div>
            <small
              *ngIf="validationErrors.includes('Please respond to question ' + (i + 1) + ': ' + question.label)"
              class="p-error"
            >
              Please select an option.
            </small>
          </div>

          <div *ngSwitchCase="'checkbox'">
            <div *ngFor="let option of question.formattedOptions" class="opts">
              <p-checkbox
                [binary]="true"
                [label]="option.label"
                [ngModel]="question.response?.includes(option.value)"
                (ngModelChange)="toggleOption(question, option.value)"
              ></p-checkbox>
            </div>
            <small
              *ngIf="validationErrors.includes('Please select at least one option for question ' + (i + 1) + ': ' + question.label)"
              class="p-error"
            >
              Please select at least one option.
            </small>
          </div>

          <div *ngSwitchCase="'dropdown'">
            <p-dropdown
              [(ngModel)]="question.response"
              [options]="question.formattedOptions"
              placeholder="Select an option"
              class="w-full"
            ></p-dropdown>
            <small
              *ngIf="validationErrors.includes('Please respond to question ' + (i + 1) + ': ' + question.label)"
              class="p-error"
            >
              Please select an option.
            </small>
          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="isSubmitted || currentForm?.status === 'unsubstantial'">
      <app-form-response-preview [questions]="currentForm.questions"></app-form-response-preview>
    </ng-container>

    <div class="centered-container-p-button" *ngIf="!isSubmitted && currentForm?.status === 'open'">
      <div class="flex justify-content-end">
        <p-toast/>
        <p-confirmDialog/>
        <p-button (onClick)="confirm($event)" label="Submit" [outlined]="true"/>
      </div>
    </div>
  </div>
</div>
