.main-content {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;

  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 1.2em;
    margin-top: 20px;
  }

  input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

input[pInputText],
textarea[pInputTextarea] {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: none;
}

.full-width-input {
    width: 100%;
}

.card-background {
  width: 100%;
  background: green;
 }

 .opts {
       padding: 8px;
   }
.centered-container {
    max-width: 800px;
    border-radius: 8px;
    padding-top: 20px;
}

.container {
  display: flex;
  align-items: flex-start;
  margin-top: 3rem;
}

.sidebar {
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  position: sticky;
  top: 0;
  margin-left: 30px;
}
.sidebar h4 {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #4b5563;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 0.5rem;
}

.sidebar ul li button {
  border-radius: 10px;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.sidebar ul li.active button {
  background-color: var(--highlight-text-color);
  font-weight: bold;
}

.button-group .custom-button {
  margin-right: 0.5rem;
}

.card-background {
  background-color: #e6f7ff;
}
.centered-container-p-button {

    border-radius: 8px;
    padding-top: 20px

  }
.sidebar-toggle-button{
  margin-left: 20px

}

.table-wrapper {
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.table-wrapper table {
  min-width: 1200px;
  table-layout: fixed;
  white-space: nowrap;
}

.markdown-table table {
  border-collapse: collapse;
  width: 100%;
}

.markdown-table th, .markdown-table td {
  border: 1px solid #ccc;
  padding: 6px 12px;
  text-align: left;
  font-size: 0.9em;
}

.markdown-table th {
  background-color: #d0f0e0;
}

.table-wrapper::-webkit-scrollbar {
  height: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #4caf50;
  border-radius: 6px;
}

.table-wrapper::-webkit-scrollbar-track {
  background-color: #f3f3f3;
}


.description-scroll-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

.description-scroll-container::-webkit-scrollbar {
  width: 8px;
}

.description-scroll-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.description-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
